.container {
  display: flex;
  justify-content: flex-end;
}

.hamburgerIcon {
  display: flex;
  justify-content: flex-end;
}

.hamburgerIcon svg {
  font-size: 1.5rem;
  color: var(--color-gray);
  margin: 1rem;
  cursor: pointer;
}
