:root {
  --color-gray: #a8a8ad;
  --color-light-gray: #dadae0;
  --color-black: #454545;
  --color-pink: #d421d4;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.input {
  height: 35px;
  border-radius: 8px;
  border: none;
  border: 1px solid;
  border-color: var(--color-light-gray);
  box-sizing: border-box;
}

.button {
  border: none;
  border-radius: 8px;
  height: 35px;
  transition: all 0.25s ease-out;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}
